{{ define "main" }}
<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">About Crucible</h2>
            <p class="text-start" style="width: 470px;max-width: 470px;">Crucible -- named for the melting pot used in foundries of yore – is a unified data-management and computational system at the Molecular Foundry. This is an evolving common data platform at the Foundry to enable data acquisition, annotation, access, and analysis, and to facilitate application of AI/ML methods to data collected at the Molecular Foundry by staff and users.&nbsp;<br><br>This data platform enables data sharing, curation, dissemination, and reuse, and in so doing, to unlock vast new opportunities for scientific discovery.&nbsp;<br><br>The interconnected software tools, workflows, and common data schemas to allow users and staff scientists to acquire, annotate, access, analyze, and apply AI/ML methods to these data sets.</p>
            <img class="rounded-circle" src="/assets/img/logo-542aea6a-c500-45c0-9006-fdf0187a66d3.webp" width="50%">
            <p><b>Crucible</b> name coined by Stephen Whitelam</p>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2">Open Source Software</h2>
                <p class="mb-0">All workflows and infrastructure software are developed in the open and are available on GitHub</p>
            </div>
            <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{{ .Site.Data.links.github.url }}">nano-crucible</a></div>
        </div>
    </div>
</section>
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>FAIR Data</h2>
            <p class="w-lg-50">Our goal is to enable FAIR sharing of data at our user facility<br>https://www.go-fair.org/fair-principles/</p>
        </div>
    </div>
    <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col d-flex">
            <div class="card h-100 w-100">
                <div class="card-body p-4">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                        </svg></div>
                    <h4 class="card-title">Findable</h4>
                    <p class="card-text">Unique Identifiers. Searchable data catalog.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card h-100 w-100">
                <div class="card-body p-4">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-universal-access">
                            <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9z"></path>
                        </svg></div>
                    <h4 class="card-title">Accessible</h4>
                    <p class="card-text">Web-based access to data and analysis workflows worldwide. Data access via a RESTful API. Access controls allow user data to stay private until publication.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card h-100 w-100">
                <div class="card-body p-4">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-intersect">
                            <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2zm6-8V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2V6a2 2 0 0 1 2-2z"></path>
                        </svg></div>
                    <h4 class="card-title">Interoperable</h4>
                    <p class="card-text">Metadata available in standard JSON formats.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card h-100 w-100">
                <div class="card-body p-4">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-recycle">
                            <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"></path>
                        </svg></div>
                    <h4 class="card-title">Reusable</h4>
                    <p class="card-text">Aggregating and reusing of data possible with large collections of historical data</p>
                </div>
            </div>
        </div>
    </div>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Crucible Team</h2>
                <p>We have a group of scientists and engineers who develop and maintain the Crucible Data Platform at the Molecular Foundry:</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 justify-content-center align-items-stretch g-4">
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/assets/img/avatars/ed_barnard.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Edward Barnard</h4>
                            <p class="card-text">Molecular Foundry Data and Analytics Lead Scientist</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/assets/img/avatars/morgan%20wall.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Morgan Wall</h4>
                            <p class="card-text">Data Scientist and Crucible Lead Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/img/people/Roncoroni.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Fabrice Roncoroni</h4>
                            <p class="card-text">Postdoctoral Researcher, Data Science and Computational Materials Science</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/img/people/timkodalle.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Tim Kodalle</h4>
                            <p class="card-text">Senior Scientific Engineering Associate</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/assets/img/avatars/lao.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Perry Lao</h4>
                            <p class="card-text">Workstation and Server IT Support</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card text-center clean-card w-100"><img class="card-img-top w-100 d-block" style="height: 200px; object-fit: contain;" src="/assets/img/avatars/Lee.jpg">
                        <div class="card-body info d-flex flex-column">
                            <h4 class="card-title">Donald Lee</h4>
                            <p class="card-text">Foundry User Program Database Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
