<!DOCTYPE html>
<html 
lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
dir="{{ or site.Language.LanguageDirection `ltr` }}"
data-bs-theme="light">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container"><a class="navbar-brand text-nowrap logo" href="#"><img width="64" height="64" src="/assets/img/logo-256-white.png" style="width: 64px;">Crucible Data Platform</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Get Started</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/getting-started/">Getting Started</a>
              <a class="dropdown-item" href="{{ .Site.Data.links.pypi.url }}">Install the Client</a>
              <a class="dropdown-item" href="{{ .Site.Data.links.graph_explorer.url }}">Explore Your Data</a>
              <a class="dropdown-item" href="{{ .Site.Data.links.github.url }}">Contribute to the Project</a>
              <a class="dropdown-item" href="{{ .Site.Data.links.user_proposal.url }}">Submit a User Proposal</a>
              <a class="dropdown-item" href="/demos/">Demos</a>
            </div>
          </li>
          <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Software</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ .Site.Data.links.github.url }}">Crucible</a>
              <a class="dropdown-item" href="{{ .Site.Data.links.scopefoundry.url }}">ScopeFoundry</a></div>
            </li>
            
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>  
  <main class="page">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/baguetteBox.min.js"></script>
  <script src="/assets/js/vanilla-zoom.js"></script>
  <script src="/assets/js/theme.js"></script>  
</body>
</html>
